body {
  background-color: #34996f;
  margin: 0;
  padding: 0;
  height: 100vh; /* Hace que el cuerpo ocupe toda la altura de la ventana */
  width: 100vw;  /* Hace que el cuerpo ocupe todo el ancho de la ventana */
  scrollbar-width: auto;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.item-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.item-card img {
  width: 100%;
  height: 200px; /* Fijamos una altura específica */
  object-fit: cover; /* Asegura que la imagen ocupe el contenedor sin deformarse */
  border-radius: 5px;
}

.item-card h3 {
  font-size: 1.2em;
  color: #333;
  margin: 10px 0;
}

.item-card p {
  font-size: 0.9em;
  color: #666;
}

button {
  background-color: #34996f;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #28804a;
}

/* Media Query para hacer que las imágenes se ajusten en pantallas más pequeñas */
@media (max-width: 768px) {
  .item-card {
    width: 150px; /* Reducimos el tamaño en pantallas más pequeñas */
  }
  .item-card img {
    height: 150px; /* Ajustamos la altura de las imágenes */
  }
}

.text-span {
  color: #034d1f;
  font-size: 20px;
}

span.text-white.mr-2{
  color: #61ac7e;
  font-size: 20px;
}